@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html, body {
      font-family: "Inter", sans-serif;
      background-color: #EAEFEA; /* Rich, cozy pale sage background for strong contrast */
      color: #2C3B2E;
      line-height: 1.8;
      overflow: hidden;
      margin: 0;
      padding: 0;
      height: 100vh;
      width: 100vw;
  }
  
  h1, h2, h3, h4, h5, h6 {
      font-weight: 500;
      color: #2C3B2E;
  }
}

@layer utilities {
  /* Minimal scrollbar utility */
  .minimal-scrollbar::-webkit-scrollbar {
    width: 4px;
    height: 4px;
  }
  
  .minimal-scrollbar::-webkit-scrollbar-track {
    background: transparent;
  }
  
  .minimal-scrollbar::-webkit-scrollbar-thumb {
    background: #8A9B8E;
    border-radius: 12px;
  }
  
  .minimal-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #2C3B2E;
  }

  .minimal-scrollbar {
    scrollbar-width: thin;
    scrollbar-color: #8A9B8E transparent;
  }
}
